<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% if title %}
	<title>Roll For Initiative - {{title}}</title>
	{% else %}
	<title>Roll For Initiative</title>
	{% endif %}
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <script src="../static/js/vendor/modernizr.js"></script>
    <script src="../static/js/vendor/modernizr.js"></script>
  </head>
  <body>

	<nav class='top-bar'>
		<ul class='title-area'>
		  <li class='name'><h1><a href='index.html'>Roll For Initiative</a></h1>
	  	</ul>	  
		<section class='top-bar-section'>
			<ul class='left'>
				<li><a href='#'>About</a></li>
				<li><a href='#'>Subscribe</a></li>
				<li><a href='#'>Contact</a></li>
				<li><a href='#'>Events</a></li>

			</ul>
		</section>
	</nav>

	<div class="row">
		
		<div class="large-8 columns">	
		  	<div class="panel">
			  <h2>Welcome Rutgers Roll For Initiative!</h2>
			  <!--lorem-->
			  <p>Sagittis nulla nunc quis elit. Phasellus augue. Nunc suscipit, magna
			  tincidunt lacinia faucibus, lacus tellus ornare purus, a pulvinar lacus orci
			  eget nibh. Maecenas sed nibh non lacus tempor faucibus. In hac habitasse platea
			  dictumst. Vivamus a orci at nulla tristique.</p>
			  <!--/lorem-->

			<!-- <a class="button" href="#">Find out more!</a> -->
			  <a class="button round" href="#">Find out more!</a>
			</div>
		</div>

		<div class="large-4 columns">
			<img src='../static/img/dice.png'>	
		</div>
	</div>	
	
	<hr />

	<div class="row">
		<div class="large-12 columns">
		  <h3>What is Roll For Initiative?</h3>
		  <!--lorem-->
		  <p>Tincidunt at, enim. Vestibulum ante ipsum primis in faucibus orci luctus et
		  ultrices posuere cubilia Curae; Duis imperdiet eleifend arcu. Cras magna
		  ligula, consequat at, tempor non, posuere nec, libero. Vestibulum vel ipsum.
		  Praesent congue justo et nunc. Vestibulum nec felis vitae nisl pharetra
		  sollicitudin. Quisque nec arcu vel tellus tristique.</p>
		  <!--/lorem-->
		</div>
	</div>	  

	<hr />

	<div class="row">
		<div class='large-12 columns'>
			<ul class='large-block-grid-4'>
			  	<li><img src='../static/img/slide1.jpg'></li>
				<li><img src='../static/img/slide2.jpg'></li>
				<li><img src='../static/img/slide3.jpg'></li>
				<li><img src='../static/img/slide4.jpg'></li>
			</ul>
		  
		</div>
	</div>
	
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
