{% extends "base.html" %}
{% block content %}

<div class="row">
	
	<div class="large-8 columns">	
		<div class="panel">
		  <h2>Welcome Roll For Initiative!</h2>
		  <h5> - the Rutgers Dungeons and Dragons club </h5>
		  <!--lorem-->
		  <p>Sagittis nulla nunc quis elit. Phasellus augue. Nunc suscipit, magna
		  tincidunt lacinia faucibus, lacus tellus ornare purus, a pulvinar lacus orci
		  eget nibh. Maecenas sed nibh non lacus tempor faucibus. In hac habitasse platea
		  dictumst. Vivamus a orci at nulla tristique.</p>
		  <!--/lorem-->

		  <a class="button round" href="#" data-reveal-id='moreinformation'>Find out more!</a>
		</div>

		<!-- this pops out when the 'find out more' button is clicked -->
		<div id='moreinformation' class='reveal-modal' data-reveal>
		  <h3>This may be totally unnecessary, but is pretty cool!</h3> 
		  <p>Aenean facilisis.Nunc erat. Integer in tellus. Mauris volutpat,
		  neque vel ornare porttitor, dolor nisi sagittis dolor, sit amet bibendum orci.</p>
			<a class='close-reveal-modal' href='#'>X</a>			
		</div>
	
	</div>

	<div class='large-4 columns'>
		<img src='../static/img/dice.png'>
	</div>
</div>	

<hr />

<div class="row">
	<div class="large-6 columns">
			<br>
			<ul data-orbit data-options='animation:slide; pause_on_hover:true;
					animation_speed:500; navigation_arrows:true; bullets:false;'>
				  <li><img src='../static/img/slide1.jpg'></li>
				  <li><img src='../static/img/slide2.jpg'></li>
				  <li><img src='../static/img/slide3.jpg'></li>
				  <li><img src='../static/img/slide4.jpg'></li>
			</ul>
	</div>

	<div class="large-6 columns">
	  <h3>What is Roll For Initiative?</h3>
	  <!--lorem-->
	  <p>Tincidunt at, enim. Vestibulum ante ipsum primis in faucibus orci luctus et
	  ultrices posuere cubilia Curae; Duis imperdiet eleifend arcu. Cras magna
	  ligula, consequat at, tempor non, posuere nec, libero. Vestibulum vel ipsum.
	  Praesent congue justo et nunc. Vestibulum nec felis vitae nisl pharetra
	  sollicitudin. Quisque nec arcu vel tellus tristique.</p>
	  <!--/lorem-->
	</div>

</div>	  
<!-- 
<div class="row">
	<div class='large-6 columns'>
		<ul class='large-block-grid-4'>
			<li><img src='../static/img/slide1.jpg'></li>
			<li><img src='../static/img/slide2.jpg'></li>
			<li><img src='../static/img/slide3.jpg'></li>
			<li><img src='../static/img/slide4.jpg'></li>
		</ul>
	  
	</div>
</div>
-->

{% endblock %}
